html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.clearfix {
  overflow: hidden;
}

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
background: #D5D5D8;
border-bottom: 5px solid #222222;
border-top: 5px solid #222222;
margin: 30px 25px;
padding: 30px 0px 25px;
/*font-family: sans-serif;
font-size: 18px;
line-height: 1.5;*/
}

.bucket {
  padding-top: 50px;
  max-width: 500px;
}

p {
font-family: sans-serif;
font-size: 25px;
}

.text1
{
      color: #fff;
      display: inline-block;
      font-family: "Droid Sans", arial, verdana, sans-serif;
      font-size: 20px;
      font-weight: 800;
      color: #ff6;
}

.text2
{
      color: #fff;
      display: inline-block;
      font-family: "Droid Sans", arial, verdana, sans-serif;
      font-size: 16px;
      font-weight: 800;
      color: #ff6;
}

.formpad {
margin: 5px 5px 5px 5px;
padding: 5px 5px 5px 5px;
}

.getcenter {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    margin: auto;
    width: 20%;
    padding: 10px;
}

.padbutton {
	margin: 5px 0px 0px 10px;
}